/node_modules
/public/storage
/public/hot
/public/js/app.js
public/js/app.js
storage/*
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/app/Http/Controllers/Controller.php
public/image/tmp/

